.wrapper {
    direction: rtl;
	text-align: right;
	
}.navbar-white {
	margin-right: 250px;
  
}.content-wrapper{
	margin-right: 250px;
	width: 1000px;
}.brand-link .brand-image {
	float: right;
	
}
.main-footer{
	margin-right: 500px;
}

.my-card .card-body{
	padding: 0;
}

.my-card .card-text {
	padding: 17px;
}

.my-card .card-title {
	float: right;
}

.details-page {
	direction: rtl;
	text-align: right;
}

i{
	margin: 2px;
}
img{
	width: 80px;
	height: 80px;
}
.card-title {
	float: right;
	font-size: 20px;
	margin-right: 400px;
}.card-tools{
	margin: 20px;
   margin-right: 400px;
}
h1{
	margin-right: 400px;
}
 span.accept{
   color: green;
   margin-right: 10px;
}
span.reject{
	color: red;
	margin-right: 10px;
 }
 span.new{
	color: blue;
	margin-right: 10px;
 }